<div class="container">



  <div class="field">
    <label class="label">Nome</label>
    <p class="control">
      <input class="input" type="text" placeholder="Text input">
    </p>
  </div>
  <br />
  <div class="field">
    <label class="label">E-mail</label>
    <p class="control">
      <input class="input" type="text" placeholder="Text input">
    </p>
  </div>
  <br />
  <div class="field">
    <label class="label">Turma:</label>
    <p class="control">
    <span class="select">
      <select>
        <option>Java - Sabados</option>
        <option>Java - Terc e Quint</option>
      </select>
    </span>
    </p>
  </div>
  <br />
  <div class="field">
    <label class="label">Aula:</label>
    <p class="control">
    <span class="select">
      <select>
        <option>1</option>
        <option>2</option>
      </select>
    </span>
    </p>
  </div>
  <br />
  <div class="field">
    <label class="label">E-mail</label>
    <p class="control">
      <input class="input is-medium" type="file" placeholder="Text input">
    </p>
  </div>
  <br />

    <p class="control">
      <button class="button is-primary" disabled>Enviar</button>
    </p>


</div>

