<div class="hero-head">
  <div class="container">
    <nav class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="../index.html">
            <img src="../../assets/images/bulma.png" alt="Description">
          </a>
        </div>
        <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
        <div class="nav-right nav-menu">
          <a  [routerLink]="['/incio']" class="nav-item is-tab is-active">
            Home
          </a>
          <a   class="nav-item is-tab ">
            Projeto Oportunidade
          </a>
          <a [routerLink]="['/enviar']" class="nav-item is-tab">
            Enviar trabalho
          </a>

          <span class="nav-item">
                <a class="button">
                  Log in
                </a>

              </span>
        </div>
      </div>
    </nav>
  </div>
</div>
